.items-collection {
   

    .custom-button{
      width: 80%;
      opacity: .7;
      position: absolute;
      top:255px;
      display: none;

    }
      
    &:hover{
      .image{
        opacity: 0.8;
      }
      .custom-button{
        opacity:0.85;
        display: flex;
      }
    }


    .collection-footer {
      
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  